<section id="Loader">
  <div>
    <span class="files"><span class="value">0</span> files</span>
    <div class="progress"><div class="bar"></div></div>
    <span class="percent"><span class="value">0</span>%</span>
  </div>
</section>
