<section id="Start">
  <header>
    <h1>The Solstice Submarine: Capture the Fork!</h1>
  </header>
  <nav>
    <ul>
      <li><a href="#choose-mode" class="game-text">Play!</a></li>
      <li><a href="#start" class="game-text">How to play</a></li>
      <li><a href="#start" class="game-text">Story</a></li>
      <li><a href="#start" class="game-text">Credits</a></li>
    </ul>
  </nav>
</section>
