body {
  background-color: #333;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
}

canvas {
  display: block;
  position: relative;
  margin: auto;

  background-color: #555;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

ul, ol, li, div, section {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.game-text {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
}

.game-text > span {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  background-image: url(../assets/images/font-white.png);
  background-size: 1232px 16px;
  vertical-align: middle;
}

a:hover > .game-text > span,
a.game-text:hover > span {
  background-image: url(../assets/images/font-yellow.png);
}

#Loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #333;
  color: #ddd;
  z-index: 10;
}

#Loader > div {
  display: block;
  position: relative;
  margin: -6px 0 0;
  top: 50%;
}

#Loader .files,
#Loader .percent {
  display: none;
}

#Loader .progress {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 200px;
  border: 2px solid #ddd;
}

#Loader .progress > .bar {
  display: block;
  position: relative;
  width: 0px;
  height: 8px;
  background: #ddd;
}

body > section:not(#Loader) {
  width: 720px;
  height: 440px;
  margin: 0 auto;
  background-color: #222;
}

#Start h1 {
  margin: 0;
  padding: 0;
  height: 0;
  font-size: 0;
  visibility: hidden;
  position: absolute;
  top: -999px;
  left: -999px;
}

#Start header {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 40px 0;
  background: url(../assets/images/logo.png) no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 224px;
  height: 84px;
}

#Start nav {
  display: block;
  position: relative;
  text-align: center;
}

#Start nav li {
  padding: 8px 0;
}

#Choose-Mode {
  text-align: center;
}

#Choose-Mode header {
  padding: 40px 0;
}

#Choose-Mode > nav a > span {
  display: block;
  position: relative;
}

#Choose-Mode nav {
  display: block;
  position: relative;
}

#Choose-Mode li {
  display: block;
}

#Choose-Mode a {
  display: inline-block;
  position: relative;
  padding: 8px;
  margin: 0 auto 8px;
  border: 2px solid #6fb0d6;
  background: #346794;
}

#Choose-Mode footer {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

#Controls {
  width: 100%;
  height: 80px;
  /* 60px, 40px */
}

#Controls > .output {
  display: none;
  padding: 32px;
  text-align: center;
}

#Controls.message > .output {
  display: block;
}

#Controls.message > .input .button:not(.exit),
#Controls.message > .input .score {
  display: none;
}

#Controls > .input,
#Controls > .input > ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#Controls > .input .score {
  position: absolute;
  right: 0;
  top: 16px;
  width: 240px;
  height: 100%;
}

#Controls > .input .score > div {
  display: block;
  padding-bottom: 16px;
}


#Controls > .input .button {
  position: absolute;
  top: 16px;
  background-image: url(../assets/images/control.png);
  background-repeat: no-repeat;
  background-size: 200px 200px;
}

#Controls > .input .button:not(.disabled) {
  cursor: pointer;
}

#Controls > .input .exit.button {
  left: 16px;
  width: 48px;
  height: 48px;
  background-position: -132px 0;
}

#Controls > .input .mode.button {
  left: 132px;
  width: 96px;
  height: 48px;
  background-position: 0 -144px;
}

#Controls > .input .mode.button.toggle {
  width: 96px;
  height: 48px;
  background-position: 0 -96px;
}

#Controls > .input .mode.button.disabled {
  background-position: -96px -96px;
}

#Controls > .input .end-turn.button {
  left: 292px;
  width: 132px;
  height: 48px;
  background-position: 0 0;
}

#Controls > .input .end-turn.button.disabled {
  background-position: 0 -48px;
}

.solsticesub-ctf #Credits {
  display: block;
}

#Credits {
  display: none;
  position: relative;
  top: 20px;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  font-weight: 200;
  color: #777;
}

#Credits > span {
  margin: 10px;
}

#Credits a {
  color: #888;
  text-decoration: none;
  font-weight: 900;
}

#Credits a:hover {
  color: #f3bc45;
  text-shadow: 1px 1px 0 #6fb0d6;
}


@media (max-width: 539px) {
  .game-text > span {
    width: 8px;
    height: 8px;
    background-size: 616px 8px;
  }

  body > section:not(#Loader) {
    display: block;
    position: relative;
    width: 360px;
    height: 220px;
    margin: 0 auto;
    background-color: #222;
  }

  #Start header {
    padding: 20px 0;
    width: 112px;
    height: 42px;
  }

  #Start nav li {
    padding: 4px 0;
  }

  #Choose-Mode header {
    padding: 20px 0;
  }



  #Controls > .input .score {
    top: 8px;
    width: 120px;
    height: 100%;
  }

  #Controls > .input .score > div {
    padding-bottom: 8px;
  }

  #Controls > .input .button {
    top: 8px;
    background-size: 100px 100px;
  }

  #Controls > .input .exit.button {
    left: 8px;
    width: 24px;
    height: 24px;
    background-position: -66px 0;
  }

  #Controls > .input .mode.button {
    left: 66px;
    width: 48px;
    height: 24px;
    background-position: 0 -72px;
  }

  #Controls > .input .mode.button.toggle {
    width: 48px;
    height: 24px;
    background-position: 0 -48px;
  }

  #Controls > .input .mode.button.disabled {
    background-position: -48px -48px;
  }

  #Controls > .input .end-turn.button {
    left: 146px;
    width: 66px;
    height: 24px;
  }

  #Controls > .input .end-turn.button.disabled {
    background-position: 0 -24px;
  }


  #Credits {
    top: 5px;
  }

  #Credits > span {
    display: block;
    font-size: 10px;
  }
}

@media (min-width: 540px) and (max-width: 719px) {
  .game-text > span {
    width: 12px;
    height: 12px;
    background-size: 924px 12px;
  }

  body > section:not(#Loader) {
    display: block;
    position: relative;
    width: 540px;
    height: 330px;
    margin: 0 auto;
    background-color: #222;
  }

  #Start header {
    padding: 30px 0;
    width: 178px;
    height: 63px;
  }

  #Start nav li {
    padding: 6px 0;
  }

  #Choose-Mode header {
    padding: 30px 0;
  }

  #Controls > .input .score {
    top: 12px;
    width: 180px;
    height: 100%;
  }

  #Controls > .input .score > div {
    padding-bottom: 12px;
  }

  #Controls > .input .button {
    top: 12px;
    background-size: 150px 150px;
  }

  #Controls > .input .exit.button {
    left: 12px;
    width: 36px;
    height: 36px;
    background-position: -99px 0;
  }

  #Controls > .input .mode.button {
    left: 99px;
    width: 72px;
    height: 36px;
    background-position: 0 -108px;
  }

  #Controls > .input .mode.button.toggle {
    width: 72px;
    height: 36px;
    background-position: 0 -72px;
  }

  #Controls > .input .mode.button.disabled {
    background-position: -72px -72px;
  }

  #Controls > .input .end-turn.button {
    left: 219px;
    width: 99px;
    height: 36px;
  }

  #Controls > .input .end-turn.button.disabled {
    background-position: 0 -36px;
  }

  #Credits {
    top: 10px;
  }

  #Credits > span {
    display: block;
  }
}

@media (min-width: 720px) and (max-width: 1599px) {

}

@media (min-width: 1600px) {

}


