body {
  background-color: #333;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
}

canvas {
  display: block;
  position: relative;
  margin: auto;

  background-color: #555;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

ul, ol, li, div, section {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}

.game-text {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  color: transparent;
}

.game-text > span {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  background-image: url(../assets/images/font-white.png);
  background-size: 1232px 16px;
  vertical-align: middle;
}

a:hover > .game-text > span,
a.game-text:hover > span {
  background-image: url(../assets/images/font-yellow.png);
}

#Loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #333;
  color: #ddd;
}

#Loader > div {
  display: block;
  position: relative;
  margin: -6px 0 0;
  top: 50%;
}

#Loader .files,
#Loader .percent {
  display: none;
}

#Loader .progress {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 200px;
  border: 2px solid #ddd;
}

#Loader .progress > .bar {
  display: block;
  position: relative;
  width: 0px;
  height: 8px;
  background: #ddd;
}

section:not(#Game):not(#Loader) {
  display: block;
  position: relative;
  width: 720px;
  height: 360px;
  margin: 0 auto;
  background-color: #222;
}

#Start h1 {
  margin: 0;
  padding: 0;
  height: 0;
  font-size: 0;
  visibility: hidden;
  position: absolute;
  top: -999px;
  left: -999px;
}

#Start header {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 40px 0;
  background: url(../assets/images/logo.png) no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 224px;
  height: 84px;
}

#Start nav {
  display: block;
  position: relative;
  text-align: center;
}

#Start nav li {
  padding: 8px 0;
}

#Choose-Mode {
  text-align: center;
}

#Choose-Mode > nav a > span {
  display: block;
  position: relative;
}

#Choose-Mode nav {
  display: block;
  position: relative;
  margin-top: 30px;
}

#Choose-Mode li {
  display: block;
}

#Choose-Mode a {
  display: inline-block;
  position: relative;
  padding: 8px 8px 10px;
  margin: 0 auto 8px;
  border: 2px solid #6fb0d6;
  background: #346794;
}

#Choose-Mode footer {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

#Credits {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 20px;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  font-weight: 200;
  color: #346794;
}

.route-start #Credits,
.route-choose-mode #Credits,
.route-play #Credits {
  position: relative;
  width: auto;
  bottom: auto;
  top: 20px;
}

#Credits > span {
  margin: 10px;
}

#Credits a {
  color: #6fb0d6;
  text-decoration: none;
  font-weight: 900;
}

#Credits a:hover {
  color: #f3bc45;
  text-shadow: 1px 1px 0 #6fb0d6;
}
