body {
  background-color: #333;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
}

canvas {
  display: block;
  position: relative;
  margin: auto;

  background-color: #555;

  /* Desperately attempt to hardware accelerate this shit :) */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

ul, ol, li, div, section {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.game-text {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
}

.game-text > span {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  background-image: url(../assets/images/font-white.png);
  background-size: 1232px 16px;
  vertical-align: middle;
}

a.disabled:hover {
  cursor: default;
}

a:hover:not(.disabled) > .game-text > span,
a.game-text:hover:not(.disabled) > span {
  background-image: url(../assets/images/font-yellow.png);
}

#Panels {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  height: 750px;
  visibility: hidden;
  background-image: url(../assets/images/title-panel.png);
  background-repeat: no-repeat;
  background-size: 720px 270px;
  background-position: center 440px;
}

.solsticesub-ctf #Panels {
  visibility: visible;
}

#Panels:before {
  content: '';
  display: block;
  position: absolute;
  width: 352px;
  height: 440px;
  left: 25%;
  margin-left: -300px;
  background-image: url(../assets/images/sub-panel.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

#Panels:after {
  content: '';
  display: block;
  position: absolute;
  width: 352px;
  height: 440px;
  right: 25%;
  margin-right: -300px;
  background-image: url(../assets/images/rocket-panel.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

#Loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #333;
  color: #ddd;
  z-index: 10;
}

#Loader > div {
  display: block;
  position: relative;
  margin: -6px 0 0;
  top: 50%;
}

#Loader .files,
#Loader .percent {
  display: none;
}

#Loader .progress {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 200px;
  border: 2px solid #ddd;
}

#Loader .progress > .bar {
  display: block;
  position: relative;
  width: 0px;
  height: 8px;
  background: #ddd;
}

body > section:not(#Loader) {
  width: 720px;
  height: 440px;
  margin: 0 auto;
  background-color: #222;
  border-left: 2px solid #202020;
  border-right: 2px solid #202020;
  border-bottom: 2px solid #202020;
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -ms-border-radius: 0 0 8px 8px;
  -o-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}

#Start h1 {
  margin: 0;
  padding: 0;
  height: 0;
  font-size: 0;
  visibility: hidden;
  position: absolute;
  top: -999px;
  left: -999px;
}

#Start header {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 40px 0;
  background: url(../assets/images/logo.png) no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 224px;
  height: 84px;
}

#Start nav {
  display: block;
  position: relative;
  text-align: center;
  padding-top: 40px;
}

#Start nav li {
  padding: 16px 0;
}

#Tutorial {
  overflow: hidden;
}

#Tutorial .exit.button,
#Tutorial .next.button {
  position: absolute;
  top: auto;
  bottom: 16px;
  margin-bottom: 0;
  cursor: pointer;
  z-index: 2;
}

#Tutorial .next.button {
  right: 16px;
}

#Tutorial ol {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000%;
  height: 100%;
}

#Tutorial li {
  text-align: center;
  width: 10%;
  height: 100%;
  float: left;
}

#Tutorial li > span {
  display: block;
  margin-bottom: 2%;
}

#Tutorial li > span:first-child {
  padding-top: 5%;
}

#Tutorial li > img {
  display: inline-block;
}

#Tutorial img {
  margin-top: 20%;
}

#Tutorial img[src="assets/images/tutorial/sub.png"] {
  width: 36px;
  height: 34px;
}

#Tutorial img[src="assets/images/tutorial/sub-spots-fork.png"] {
  width: 120px;
  height: 36px;
}

#Tutorial img[src="assets/images/tutorial/sub-returns-fork.png"] {
  width: 199px;
  height: 104px;
}

#Tutorial img[src="assets/images/tutorial/sub-considers-move.png"] {
  margin-top: 10%;
  width: 200px;
  height: 200px;
}

#Tutorial img[src="assets/images/tutorial/sub-picks-path.png"] {
  width: 114px;
  height: 34px;
}

#Tutorial img[src="assets/images/tutorial/rocket-shoots-sub.png"] {
  margin-top: 16%;
  width: 162px;
  height: 34px;
}

#Tutorial img[src="assets/images/tutorial/sub-activates-shield.png"] {
  margin-top: 10%;
  width: 96px;
  height: 122px;
}

#Tutorial img[src="assets/images/tutorial/end-turn.png"] {
  width: 132px;
  height: 48px;
}


#Choose-Mode {
  text-align: center;
}

#Choose-Mode .player-in-queue {
  width: 528px;
}

#Choose-Mode .empty-queue {
  width: 432px;
}

#Choose-Mode header {
  padding: 40px 0;
}

#Choose-Mode > nav a > span {
  display: block;
  position: relative;
}

#Choose-Mode nav {
  display: block;
  position: relative;
  padding-top: 42px;
}

#Choose-Mode li {
  display: block;
}

#Choose-Mode a,
#Tutorial a {
  display: inline-block;
  position: relative;
  padding: 8px;
  margin: 0 auto 16px;
  border: 2px solid #6fb0d6;
  background: #346794;
}

#Choose-Mode a > span+span {
  margin-top: 8px;
}

#Choose-Mode a.disabled {
  background: #444;
  border-color: #888;
}

#Choose-Mode footer {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

#Controls {
  width: 100%;
  height: 80px;
}

#Controls > .output {
  display: none;
  padding: 32px;
  text-align: center;
}

#Controls.message > .output {
  display: block;
}

#Controls.message > .input .button:not(.exit),
#Controls.message > .input .score {
  display: none;
}

#Controls > .input,
#Controls > .input > ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#Controls > .input .score {
  position: absolute;
  right: 0;
  top: 16px;
  width: 240px;
  height: 100%;
}

#Controls > .input .score > div {
  display: block;
  padding-bottom: 16px;
}


#Controls > .input .button,
.exit.button {
  position: absolute;
  top: 16px;
  background-image: url(../assets/images/control.png);
  background-repeat: no-repeat;
  background-size: 200px 200px;
}

#Controls > .input .button:not(.disabled) {
  cursor: pointer;
}

#Controls > .input .exit.button,
#Tutorial .exit.button {
  left: 16px;
  width: 48px;
  height: 48px;
  background-position: -132px 0;
}

#Controls > .input .mode.button {
  left: 132px;
  width: 96px;
  height: 48px;
  background-position: 0 -144px;
}

#Controls > .input .mode.button.toggle {
  width: 96px;
  height: 48px;
  background-position: 0 -96px;
}

#Controls > .input .mode.button.disabled {
  background-position: -96px -96px;
}

#Controls > .input .mode.button.disabled.fork {
  background-position: -96px -144px;
}

#Controls > .input .end-turn.button {
  left: 292px;
  width: 132px;
  height: 48px;
  background-position: 0 0;
}

#Controls > .input .end-turn.button.disabled {
  background-position: 0 -48px;
}

.solsticesub-ctf #Credits {
  display: block;
}

#Credits {
  display: none;
  position: relative;
  top: 260px;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  color: #202020;
}

#Credits > span {
  margin: 10px;
}

#Credits a {
  color: #1c1c1c;
  text-decoration: none;
  font-weight: 900;
}

#Credits a:hover {
  color: #f3bc45;
  text-shadow: 1px -1px 0 #6fb0d6;
}


@media (max-width: 539px) {
  .game-text > span {
    width: 8px;
    height: 8px;
    background-size: 616px 8px;
  }

  body > section:not(#Loader) {
    display: block;
    position: relative;
    width: 360px;
    height: 220px;
    margin: 0 auto;
    background-color: #222;
    border-width: 1px;

    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
  }

  #Panels {
    background-size: 360px 135px;
    background-position: center 220px;
    height: 400px;
  }

  #Panels:before {
    width: 176px;
    height: 220px;
    margin-left: -170px;
  }

  #Panels:after {
    width: 176px;
    height: 220px;
    margin-right: -170px;
  }

  #Start header {
    padding: 20px 0;
    width: 112px;
    height: 42px;
  }

  #Start nav {
    padding-top: 20px;
  }

  #Start nav li {
    padding: 8px 0;
  }

  #Tutorial img[src="assets/images/tutorial/sub.png"] {
    width: 18px;
    height: 17px;
  }

  #Tutorial img[src="assets/images/tutorial/sub-spots-fork.png"] {
    width: 60px;
    height: 18px;
  }

  #Tutorial img[src="assets/images/tutorial/sub-returns-fork.png"] {
    width: 100px;
    height: 52px;
  }

  #Tutorial img[src="assets/images/tutorial/sub-considers-move.png"] {
    width: 100px;
    height: 100px;
  }

  #Tutorial img[src="assets/images/tutorial/sub-picks-path.png"] {
    width: 57px;
    height: 17px;
  }

  #Tutorial img[src="assets/images/tutorial/rocket-shoots-sub.png"] {
    width: 81px;
    height: 17px;
  }

  #Tutorial img[src="assets/images/tutorial/sub-activates-shield.png"] {
    width: 48px;
    height: 61px;
  }

  #Tutorial img[src="assets/images/tutorial/end-turn.png"] {
    width: 66px;
    height: 24px;
  }

  #Choose-Mode header {
    padding: 20px 0;
  }

  #Choose-Mode .player-in-queue {
    width: 264px;
  }

  #Choose-Mode .empty-queue {
    width: 216px;
  }

  #Choose-Mode nav {
    padding-top: 10px;
  }

  #Choose-Mode a,
  #Tutorial a {
    margin: 0 auto 8px;
    border-width: 1px;
  }

  #Controls > .input .score {
    top: 8px;
    width: 120px;
    height: 100%;
  }

  #Controls > .output {
    padding: 16px;
  }

  #Controls > .input .score > div {
    padding-bottom: 8px;
  }

  #Controls > .input .button,
  #Tutorial .button {
    top: 8px;
    background-size: 100px 100px;
  }

  #Controls > .input .exit.button,
  #Tutorial .exit.button {
    left: 8px;
    width: 24px;
    height: 24px;
    background-position: -66px 0;
  }

  #Controls > .input .mode.button {
    left: 66px;
    width: 48px;
    height: 24px;
    background-position: 0 -72px;
  }

  #Controls > .input .mode.button.toggle {
    width: 48px;
    height: 24px;
    background-position: 0 -48px;
  }

  #Controls > .input .mode.button.disabled {
    background-position: -48px -48px;
  }

  #Controls > .input .mode.button.disabled.fork {
    background-position: -48px -72px;
  }

  #Controls > .input .end-turn.button {
    left: 146px;
    width: 66px;
    height: 24px;
  }

  #Controls > .input .end-turn.button.disabled {
    background-position: 0 -24px;
  }


  #Credits {
    top: 120px;
  }

  #Credits > span {
    display: block;
    font-size: 10px;
  }
}

@media (min-width: 540px) and (max-width: 719px) {
  .game-text > span {
    width: 12px;
    height: 12px;
    background-size: 924px 12px;
  }

  body > section:not(#Loader) {
    display: block;
    position: relative;
    width: 540px;
    height: 330px;
    margin: 0 auto;
    background-color: #222;

    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
  }

  #Panels {
    background-size: 540px auto;
    background-position: center 330px;
    height: 585px;
  }

  #Panels:before {
    width: 264px;
    height: 330px;
    margin-left: -265px;
  }

  #Panels:after {
    width: 264px;
    height: 330px;
    margin-right: -265px;
  }

  #Start header {
    padding: 30px 0;
    width: 178px;
    height: 63px;
  }

  #Start nav {
    padding-top: 30px;
  }

  #Start nav li {
    padding: 12px 0;
  }

  #Tutorial img[src="assets/images/tutorial/sub.png"] {
    width: 27px;
    height: 24px;
  }

  #Tutorial img[src="assets/images/tutorial/sub-spots-fork.png"] {
    width: 90px;
    height: 27px;
  }

  #Tutorial img[src="assets/images/tutorial/sub-returns-fork.png"] {
    width: 150px;
    height: 78px;
  }

  #Tutorial img[src="assets/images/tutorial/sub-considers-move.png"] {
    width: 150px;
    height: 150px;
  }

  #Tutorial img[src="assets/images/tutorial/sub-picks-path.png"] {
    width: 80px;
    height: 24px;
  }

  #Tutorial img[src="assets/images/tutorial/rocket-shoots-sub.png"] {
    width: 121px;
    height: 24px;
  }

  #Tutorial img[src="assets/images/tutorial/sub-activates-shield.png"] {
    width: 72px;
    height: 92px;
  }

  #Tutorial img[src="assets/images/tutorial/end-turn.png"] {
    width: 99px;
    height: 36px;
  }

  #Choose-Mode header {
    padding: 30px 0;
  }

  #Choose-Mode nav {
    padding-top: 30px;
  }

  #Choose-Mode .player-in-queue {
    width: 396px;
  }

  #Choose-Mode .empty-queue {
    width: 324px;
  }

  #Choose-Mode a,
  #Tutorial a {
    margin: 0 auto 12px;
  }

  #Controls > .input .score {
    top: 12px;
    width: 180px;
    height: 100%;
  }

  #Controls > .output {
    padding: 24px;
  }

  #Controls > .input .score > div {
    padding-bottom: 12px;
  }

  #Controls > .input .button,
  #Tutorial .button {
    top: 12px;
    background-size: 150px 150px;
  }

  #Controls > .input .exit.button,
  #Tutorial .exit.button {
    left: 12px;
    width: 36px;
    height: 36px;
    background-position: -99px 0;
  }

  #Controls > .input .mode.button {
    left: 99px;
    width: 72px;
    height: 36px;
    background-position: 0 -108px;
  }

  #Controls > .input .mode.button.toggle {
    width: 72px;
    height: 36px;
    background-position: 0 -72px;
  }

  #Controls > .input .mode.button.disabled {
    background-position: -72px -72px;
  }

  #Controls > .input .mode.button.disabled.fork {
    background-position: -72px -108px;
  }

  #Controls > .input .end-turn.button {
    left: 219px;
    width: 99px;
    height: 36px;
  }

  #Controls > .input .end-turn.button.disabled {
    background-position: 0 -36px;
  }

  #Credits {
    top: 182px;
  }

  #Credits > span {
    display: block;
  }
}

@media (min-width: 720px) and (max-width: 1599px) {

}

@media (min-width: 1600px) {
  .game-text > span {
    width: 24px;
    height: 24px;
    background-size: 1848px 24px;
  }

  body > section:not(#Loader) {
    display: block;
    position: relative;
    width: 1080px;
    height: 660px;
    margin: 0 auto;
    background-color: #222;

    border-width: 3px;

    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }

  #Panels {
    background-size: 1080px 405px;
    background-position: center 660px;
    height: 1100px;
  }

  #Panels:before {
    width: 528px;
    height: 660px;
    margin-left: -450px;
  }

  #Panels:after {
    width: 528px;
    height: 660px;
    margin-right: -450px;
  }

  #Tutorial img[src="assets/images/tutorial/sub.png"] {
    width: 54px;
    height: 51px;
  }

  #Tutorial img[src="assets/images/tutorial/sub-spots-fork.png"] {
    width: 180px;
    height: 54px;
  }

  #Tutorial img[src="assets/images/tutorial/sub-returns-fork.png"] {
    width: 300px;
    height: 156px;
  }

  #Tutorial img[src="assets/images/tutorial/sub-considers-move.png"] {
    width: 300px;
    height: 300px;
  }

  #Tutorial img[src="assets/images/tutorial/sub-picks-path.png"] {
    width: 160px;
    height: 48px;
  }

  #Tutorial img[src="assets/images/tutorial/rocket-shoots-sub.png"] {
    width: 243px;
    height: 51px;
  }

  #Tutorial img[src="assets/images/tutorial/sub-activates-shield.png"] {
    width: 144px;
    height: 184px;
  }

  #Tutorial img[src="assets/images/tutorial/end-turn.png"] {
    width: 198px;
    height: 72px;
  }

  #Start header {
    padding: 60px 0;
    width: 336px;
    height: 126px;
  }

  #Start nav {
    padding-top: 60px;
  }

  #Start nav li {
    padding: 24px 0;
  }

  #Choose-Mode header {
    padding: 60px 0;
  }

  #Choose-Mode .player-in-queue {
    width: 792px;
  }

  #Choose-Mode .empty-queue {
    width: 648px;
  }

  #Choose-Mode nav {
    padding-top: 60px;
  }

  #Choose-Mode a,
  #Tutorial a {
    margin: 0 auto 16px;
    border-width: 3px;
  }

  #Controls > .input .score {
    top: 24px;
    width: 360px;
  }

  #Controls > .output {
    padding: 48px;
  }

  #Controls > .input .score > div {
    padding-bottom: 24px;
  }

  #Controls > .input .button,
  #Tutorial .button {
    top: 24px;
    background-size: 300px 300px;
  }

  #Controls > .input .exit.button,
  #Tutorial .exit.button {
    left: 24px;
    width: 72px;
    height: 72px;
    background-position: -198px 0;
  }

  #Controls > .input .mode.button {
    left: 198px;
    width: 144px;
    height: 72px;
    background-position: 0 -216px;
  }

  #Controls > .input .mode.button.toggle {
    width: 144px;
    height: 72px;
    background-position: 0 -144px;
  }

  #Controls > .input .mode.button.disabled {
    background-position: -144px -144px;
  }

  #Controls > .input .mode.button.disabled.fork {
    background-position: -144px -216px;
  }

  #Controls > .input .end-turn.button {
    left: 438px;
    width: 198px;
    height: 72px;
  }

  #Controls > .input .end-turn.button.disabled {
    background-position: 0 -72px;
  }

  #Credits {
    top: 390px;
  }
}


