<header>
  {{#if id}}
    <h2 class="game-text {{#queue.length}}player-in-queue{{/queue.length}}{{^queue.length}}empty-queue{{/queue.length}}">
    {{#queue.length}}
      Someone is waiting to play online with you. Select Online Matchup to join in!
    {{/queue.length}}
    {{^queue.length}}
      Start an Online Matchup and wait for someone to log in and play with you!
    {{/queue.length}}
    </h2>
  {{else}}
    <h1 class="game-text">Choose game mode:</h1>
  {{/if}}
</header>
<nav>
  <ul>
    <li><a href="#{{#id}}play-online{{/id}}{{^id}}login{{/id}}">
      <span class="game-text">Online Matchup</span>
      {{#id}}
        <span class="game-text">({{this}})</span>
      {{/id}}
      {{^id}}
        <span class="game-text">(Requires login)</span>
      {{/id}}
    </a></li>
    <li><a href="#play-solo">
      <span class="game-text">Play Offline</span>
      <span class="game-text">(Not as fun)</span>
    </a></li>
  </ul>
</nav>
{{#id}}
  <footer>
    <span class="game-text">Not {{this}}? </span><a href="#logout"><span class="game-text">Logout</span></a>
  </footer>
{{/id}}
