<section id="Start">
  <header>
    <h1>The Solstice Submarine: Capture the Fork!</h1>
  </header>
  <nav>
    <ul>
      <li><a href="#choose-mode" class="game-text">Play</a></li>
      <li><a href="#tutorial" class="game-text">Tutorial</a></li>
    </ul>
  </nav>
</section>
