<section id="Tutorial">
  <ol>
    <li>
      <span class="game-text">Hello! I am the Solstice Submarine.</span>
      <img src="assets/images/tutorial/sub.png">
    </li>
    <li>
      <span class="game-text">I want to find this Red Fork..</span>
      <img src="assets/images/tutorial/sub-spots-fork.png">
    </li>
    <li>
      <span class="game-text">..and bring it back to this Yellow Fork!</span>
      <img src="assets/images/tutorial/sub-returns-fork.png">
    </li>
    <li>
      <span class="game-text">Tap me to see where I can move..</span>
      <img src="assets/images/tutorial/sub-considers-move.png">
    </li>
    <li>
      <span class="game-text">..and tap again to select a path.</span>
      <img src="assets/images/tutorial/sub-picks-path.png">
    </li>
    <li>
      <span class="game-text">Watch out for Rockets!</span>
      <span class="game-text">They want your fork.</span>
      <img src="assets/images/tutorial/rocket-shoots-sub.png">
    </li>
    <li>
      <span class="game-text">Your shield can protect you</span>
      <span class="game-text">but you will move slower.</span>
      <img src="assets/images/tutorial/sub-activates-shield.png">
    </li>
    <li>
      <span class="game-text">Press End Turn and make your move..</span>
      <img src="assets/images/tutorial/end-turn.png">
    </li>
    <li>
      <span class="game-text">..be the first to 100 points and win!</span>
      <img src="assets/images/tutorial/sub.png">
    </li>
  </ol>
  <div class="exit button"></div>
  <a class="next button"><span class="game-text">Next</span></a>
</section>
