<section class="input">
  <ul>
    <li class="exit button"></li>
    <li class="mode button disabled"></li>
    <li class="end-turn button disabled"></li>
    <li class="score">
      <div class="submarines">
        <span class="label game-text">sub score: </span><span class="value game-text">0</span>
      </div>
      <div class="rockets">
        <span class="label game-text">rkt score: </span><span class="value game-text">0</span>
      </div>
    </li>
  </ul>
</section>
<section class="output">
  <span class="game-text"></span>
</section>
